{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container">
        <br><h1 class="titre">Welcome to the Homepage</h1><br>
        <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor tristique leo eget mattis. Ut sed lorem ac nunc posuere consequat quis id libero. Morbi porttitor elementum augue eu tempor. Quisque in ex purus. Proin eu dolor tristique, blandit tellus in, dignissim quam. Curabitur commodo erat varius urna condimentum, et vehicula ipsum molestie. Maecenas suscipit ante ac justo placerat hendrerit. Suspendisse vehicula massa at lacus volutpat, ut rhoncus tortor elementum. Nullam faucibus ultricies magna, quis viverra massa commodo eget. Suspendisse a dui id felis placerat lobortis id at quam. Mauris ornare metus vel aliquet dapibus. Phasellus et vehicula augue. Phasellus vehicula lobortis libero, ac laoreet quam lobortis id. </p>

    </div>
{% endblock %}
