{% extends 'base.html.twig' %}

{% block title %}Edit Atelier{% endblock %}

{% block body %}
    {% if error|length > 0 %}
        <div class="alert alert-danger">{{error}}</div>
    {% endif %}
    <div class="container ">
        <div>
            <br>
            <br>
            <h3>Modifier atelier</h3>
            <br>

            {{ include('atelier/_form.html.twig', {'button_label': 'Mise à jour'}) }}
            <br>
            <a href="{{ path('app_atelier_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">Retour</a>


            {{ include('atelier/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}